.footer{
    background-color: #1A1A1A;
    padding:50px;
    color: white;
     
   .footer__left  h1 {
    margin-top: 10px;
    color: beige;
    
    
   }
   .footer__left  li {
    margin-top: 10px;
    
    
   }
   
   .footer__icon h1 {
    color: beige;
    .iconn1{
        margin-top: 20px;
    }
   }
   
   

}
